<div class="container p-3 my-4 bg-light">
  <h2 style="color:blue">Login de Usuario</h2>
  <form action="/login" method="POST" id="login" >
    <div class="mb-3 mt-3">
      <label for="name" class="form-label">Ingrese su nombre</label>
      <input type="text" class="form-control" id="userName" placeholder="Ingrese su nombre" name="userName" required/><br/>
    </div>
    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
  </form>
</div>